<p>
  advertisement-info works!
</p>
<ion-grid>
    <ion-row text-center> 
      <!-- <ion-col>Sign in to access your Purchases</ion-col> -->
    </ion-row><br />
    <ion-row text-center> 
        <ion-col  align-self-center size-md="6" size-lg="5" size-xs="12">
            <div>
              <span class="input-placeholder-size">
                <button class="large-custom-buttom button1" (click)="close()">Close</button>
              </span>
            </div>
          </ion-col>
    </ion-row>
  </ion-grid>