
<ion-header id="content1">
  <ion-toolbar color="primary">
    <div>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </div>
    <ion-title  justify-content-center >
      <span *ngIf="this.currentUser?.role === 'User'">{{this.currentUser?.role.charAt(0).toUpperCase() + this.currentUser?.role.slice(1)}} Page</span>
      <span *ngIf="this.currentUser?.role === 'Admin'">{{this.currentUser?.role.charAt(0).toUpperCase() + this.currentUser?.role.slice(1)}} Page</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="" padding id="content1">
    <app-user  *ngIf="currentUser?.role === 'User'"></app-user>
    <app-admin *ngIf="currentUser?.role === 'Admin' && currentUrl === '/role/admin'"></app-admin>
    <app-profile *ngIf="currentUrl === '/role/Admin/profile'"></app-profile>

</ion-content>


<ion-menu side="start" menuId="first" contentId="content1">
    <ion-header>
      <ion-toolbar>
        <ion-title style="background-color: #53A318; color:white">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list *ngFor="let menu of menuValue; let i = index">
          <ion-item>{{menu?.menu1}}</ion-item>
          <ion-item>{{menu?.menu2}}</ion-item>
        </ion-list>
      </ion-content>
</ion-menu>
