
<!-- <ion-header id="content1">
  <ion-toolbar color="primary" mode="md">
    <div>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </div>
    <ion-title  justify-content-center >
      <span *ngIf="this.currentUser?.role === 'User'">{{this.currentUser?.role.charAt(0).toUpperCase() + this.currentUser?.role.slice(1)}} Page</span>
      <span *ngIf="this.currentUser?.role === 'Admin'">{{this.currentUser?.role.charAt(0).toUpperCase() + this.currentUser?.role.slice(1)}} Page</span>
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header id="content1" >
    <!-- <ion-toolbar color="primary" mode="ios">
        <ion-title>
          <span *ngIf="this.currentUser?.role === 'User'">{{this.currentUser?.role.charAt(0).toUpperCase() + this.currentUser?.role.slice(1)}} Page</span>
          <span *ngIf="this.currentUser?.role === 'Admin'">{{this.currentUser?.role.charAt(0).toUpperCase() + this.currentUser?.role.slice(1)}} Page</span>
        </ion-title>
 
        
        <ion-buttons slot="start">
            <ion-buttons slot="start">
                <ion-menu-button autoHide="false"></ion-menu-button>
                <ion-icon slot="end" name="analytics"></ion-icon>
                <ion-back-button defaultHref="home"></ion-back-button>
            </ion-buttons>
        </ion-buttons> 
        
    </ion-toolbar> -->

    <ion-toolbar color="primary" mode="ios">
        <ion-title>
            <span *ngIf="this.currentUser?.role === 'User'">{{this.currentUser?.role.charAt(0).toUpperCase() + this.currentUser?.role.slice(1)}} Page</span>
            <span *ngIf="this.currentUser?.role === 'Admin'">{{this.currentUser?.role.charAt(0).toUpperCase() + this.currentUser?.role.slice(1)}} Page</span>
          </ion-title>
          <ion-buttons slot="start">
              <ion-buttons slot="start">
                  <ion-menu-button autoHide="false"></ion-menu-button>
                  <!-- <ion-back-button defaultHref="home"></ion-back-button> -->
              </ion-buttons>
          </ion-buttons> 
      </ion-toolbar>
      <ion-toolbar color="primary" >
        
          <div class="scrollmenu" >
            <a href="#home">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a href="#support">Support</a>
            <a href="#blog">Blog</a>
            <a href="#tools">Tools</a>  
            <a href="#base">Base</a>
            <a href="#custom">Custom</a>
            <a href="#more">More</a>
            <a href="#logo">Logo</a>
            <a href="#friends">Friends</a>
            <a href="#partners">Partners</a>
            <a href="#people">People</a>
            <a href="#work">Work</a>
          </div>
      </ion-toolbar>
    
      <!-- <div class="scrollmenu" mode="ios">
        <a href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a href="#support">Support</a>
        <a href="#blog">Blog</a>
        <a href="#tools">Tools</a>  
        <a href="#base">Base</a>
        <a href="#custom">Custom</a>
        <a href="#more">More</a>
        <a href="#logo">Logo</a>
        <a href="#friends">Friends</a>
        <a href="#partners">Partners</a>
        <a href="#people">People</a>
        <a href="#work">Work</a>
      </div> -->
   
    
</ion-header>
<ion-content color="" padding id="content1" >
<div>
    <ion-slides [options]="sliderConfig">
        <ion-slide *ngFor="let product of products">

          <div >
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  {{ product.name }} - ${{ product.price }}
                </ion-card-title>
                <ion-card-content>
                  <img src="./assets/images/profile-image.jpeg">
                  <ion-button expand="full" (click)="addToCart(product)">Add to Cart</ion-button>
                </ion-card-content>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-slide>
      </ion-slides>
</div>
    <app-user  *ngIf="currentUser?.role === 'User'"></app-user>
    <app-admin *ngIf="currentUser?.role === 'Admin' && currentUrl === '/role/admin'"></app-admin>
    <app-profile *ngIf="currentUrl === '/role/Admin/profile'"></app-profile>

</ion-content>


<ion-menu side="start" menuId="first" contentId="content1" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content no-padding>
        <!-- <ion-list *ngFor="let menu of menuValue; let i = index">
          <ion-item>{{menu?.menu1}}</ion-item>
          <ion-item>{{menu?.menu2}}</ion-item>
        </ion-list> -->
        <ion-list lines="none">
            <div *ngFor="let group of groups; let i=index">
              <ion-item class="item-stable" 
                        (click)="toggleGroup(group)"
                        [ngClass]="{active: isGroupShown(group)}">Group {{group?.name}} ({{groups.length || 0}})
                <ion-icon class="icon"  slot="end" [name]="isGroupShown(group) ? 'ios-remove-circle-outline' : 'ios-add-circle-outline'"></ion-icon>
              </ion-item>
              
              <div  *ngIf="isGroupShown(group)">
                <div *ngFor="let item of group.item; let i=index" >
                <!-- <p style="--ion-background-color: gray;"></p> -->
                  <ion-item class="item-accordion" lines="none" 
                            (click)="xyz(item)" 
                            [ngClass]="{active: abc(item)}"><span style="margin-left: 25px;">{{item?.name}} ({{group?.item?.length}})</span>
                    <ion-icon class="icon"  slot="end" [name]="abc(item) ? 'ios-remove-circle-outline' : 'ios-add-circle-outline'"></ion-icon>
                  </ion-item>

                <div *ngIf="abc(item)">
                    <ion-item class="item-accordion" *ngFor="let items of item?.item; let i=index" lines="none">
                        <span style="margin-left: 50px;">{{items?.name}}</span> 
                    </ion-item>
                </div>
                </div>
              </div>
            </div>
          </ion-list>
      
        
      </ion-content>
</ion-menu>
