
  <ion-grid>
    <ion-row text-center> 
      <ion-col>Sign in to access your Purchases</ion-col>
    </ion-row><br />
    <ion-row text-center> 
        <ion-col  align-self-center size-md="6" size-lg="5" size-xs="12">
            <div>
              <span class="input-placeholder-size">
                <button class="large-custom-buttom button1">Sign In or Sign Up</button>
              </span>
            </div>
          </ion-col>
    </ion-row>
  </ion-grid>
<br />
  <div>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-icon ios="ios-locate" md="md-locate"></ion-icon>
            <ion-label style="margin-left: 5px;">Backgroud Location</ion-label>
            <ion-icon name="ios-arrow-forward"></ion-icon>  
          </ion-item>
          <ion-item>
            <ion-icon ios="ios-locate" md="md-locate"></ion-icon>
            <ion-label style="margin-left: 5px;">Customer Support</ion-label>
            <ion-icon name="ios-arrow-forward"></ion-icon>  
          </ion-item>
          <ion-item>
            <ion-icon ios="ios-locate" md="md-locate"></ion-icon>
            <ion-label style="margin-left: 5px;">Sell on Ficus</ion-label>
            <ion-icon name="ios-arrow-forward"></ion-icon>  
          </ion-item>
          <ion-item>
            <ion-icon ios="ios-locate" md="md-locate"></ion-icon>
            <ion-label style="margin-left: 5px;">Accessibility</ion-label>
            <ion-icon name="ios-arrow-forward"></ion-icon>  
          </ion-item>
          <ion-item>
            <ion-icon ios="ios-locate" md="md-locate"></ion-icon>
            <ion-label style="margin-left: 5px;">About Ficus</ion-label>
            <ion-icon name="ios-arrow-forward"></ion-icon>  
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    
  </div>

